__pycache__/
*.pyc
*.csv
*.npy
*.pth
*.ckpt
*.rpt
*.tar.gz
*.jou
*.log
*.dat
conifering/hls/*/my_prj/
conifering/hls/*/tb_data/
conifering/hls/*/*.log
legacy/
logs/
path_output/
test_outputs/
plots/
quant_sweep_results/
event_cache/
cache/
*.egg-info/
cat_room.png
.ipynb_checkpoints/
*.so