__pycache__/
*.pyc
*.csv
*.npy
*.pth
*.ckpt
*.rpt
*.tar.gz
*.jou
*.log
*.dat
*.txt
**/parameters_depth_*.h
conifering/hls/*/my_prj*/
conifering/hls/*/tb_data/
conifering/hls/*/*.log
conifering/cpp/c2v_bdt_classifier/
conifering/cpp/c2v_bdt_classifier_new/
conifering/hls/c2v_bdt_classifier/
conifering/hls/c2v_bdt_classifier_new/
conifering/hls/c2v_sdt_classifier/depth_2_9_sweep/
conifering/hls/c2v_sdt_classifier/depth_7_batch_sweep/
final/
legacy/
logs/
path_output/
test_outputs/
plots/
quant_sweep_results/
event_cache/
cache/
*.egg-info/
cat_room.png
.ipynb_checkpoints/
*.so