absl-py==2.3.1
acron==0.17.2
alabaster==0.7.12
alembic==1.7.5
amdsmi @ file:///opt/rocm-6.4.1/share/amd_smi
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
argcomplete==1.12.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
argparse-manpage==4.7
arrow==1.4.0
astroid==2.11.6
asttokens==2.0.5
async-lru==2.0.5
attrs==26.1.0
auth-get-sso-cookie==2.3.0
Authlib==1.0.1
autopage==0.5.2
awkward==2.8.12
awkward_cpp==51
awscli==2.15.31
awscrt==0.27.2
babel==2.18.0
backcall==0.1.0
backoff==2.2.1
beautifulsoup4==4.10.0
bleach==6.2.0
blinker==1.9.0
bodhi-client==7.0.1
cached-property==1.5.2
cachetools==6.2.6
CCColUtils==1.5
certifi==2023.5.7
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.7
click==8.1.8
cliff==4.0.0
cloudpickle==3.1.2
cmd2==2.4.2
codabench_submitter @ git+https://gitlab.cern.ch/mlops/platform/challenges/codabench-submitter-extension.git@f2bc033a987adaf429834cb5f92f0e0d576ef11d
colorama==0.4.6
comm==0.2.3
conifer==1.9
contourpy==1.3.0
cramjam==2.11.0
cryptography==48.0.0
cycler==0.11.0
Cython==0.29.37
databricks-sdk==0.102.0
dbus-python==1.2.18
debtcollector==2.5.0
debugpy==1.8.21
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.2
distro==1.5.0
docker==7.1.0
docutils==0.16
dogpile.cache==1.1.8
durationpy==0.10
elasticsearch==7.17.4
elasticsearch6==6.8.2
exceptiongroup==1.3.1
executing==0.8.2
fastapi==0.128.8
fastjsonschema==2.21.2
fedpkg==1.47
file-magic==0.4.0
filelock==3.19.1
Flask==3.1.3
fonttools==4.60.2
fqdn==1.5.1
fsspec==2025.10.0
git-review==2.3.1
gitdb==4.0.9
GitPython==3.1.46
google-auth==2.50.0
gpg==1.15.1
graphene==3.4.3
graphql-core==3.2.8
graphql-relay==3.2.0
greenlet==1.1.2
grpcio==1.64.0
grpcio-tools==1.64.0
gssapi==1.6.9
gunicorn==23.0.0
h11==0.16.0
h5py==3.7.0
htcondor==23.0.28
httpcore==1.0.9
httplib2==0.20.3
httpx==0.27.2
idna==2.10
imagesize==1.2.0
importlib_metadata==7.1.0
importlib_resources==6.5.2
ipykernel==6.31.0
ipympl==0.10.0
ipython==8.5.0
ipywidgets==8.1.8
iso8601==1.0.2
isoduration==20.11.0
isort==5.10.1
itsdangerous==2.2.0
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.3
json5==0.14.0
jsonpatch==1.21
jsonpointer==2.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.4
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kerberos==1.3.0
keyring==21.8.0
keystoneauth1==5.0.1
kiwisolver==1.4.1
koji==1.35.2
kubeflow-katib==0.18.0
kubeflow-training==1.9.0
kubernetes==35.0.0
lark==1.3.1
lazy-object-proxy==1.7.1
ldap3==2.8.1
libcomps==0.1.18
lxml==4.6.5
M2Crypto==0.38.0
Mako==1.1.4.dev0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.5
mccabe==0.6.1
mercurial==6.1.4
mistune==3.2.1
mlflow==3.1.4
mlflow-skinny==3.1.4
mpi4py==4.1.1
mpmath==1.3.0
msgpack==1.0.3
munch==2.5.0
nbclient==0.10.2
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
netaddr==0.10.1
netifaces==0.10.6
networkx==3.2.1
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.25.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.3.1
olefile==0.46
openidc-client==0.7.0
openstacksdk==0.101.0
opentelemetry-api==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-semantic-conventions==0.62b1
os-client-config==2.1.0
os-service-types==1.7.0
osc-lib==2.6.2
oslo.config==9.0.0
oslo.context==5.0.0
oslo.i18n==5.1.0
oslo.log==5.0.0
oslo.serialization==5.0.0
oslo.utils==6.0.2
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.3
pbr==5.10.0
pcp==5.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.3.0
platformdirs==2.5.4
ply==3.11
prettytable==0.7.2
prometheus_client==0.25.0
prompt-toolkit==3.0.38
protobuf==6.33.6
psutil==7.2.2
ptyprocess==0.6.0
pure-eval==0.2.2
pyarrow==20.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==3.0.4
pycairo==1.20.1
pycparser==2.20
pycurl==7.43.0.6
pydantic==1.9.1
pydantic_core==2.46.4
pyenchant==3.2.0
Pygments==2.7.4
PyGObject==3.40.1
pyinotify==0.9.6
pylint==2.13.7
PyMySQL==0.10.1
pynq==3.1.2
pynqmetadata==0.1.9
pynqutils==0.1.2
pyparsing==2.4.7
pyperclip==1.8.0
pyphonebook==2.2.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyroute2==0.5.14
PySocks==1.7.1
python-bugzilla==3.2.0
python-cinderclient==9.1.1
python-dateutil==2.9.0.post0
python-gitlab==3.9.0
python-json-logger==4.0.0
python-keystoneclient==5.0.1
python-ldap==3.4.3
python-linux-procfs==0.7.3
python-magic==0.4.27
python-magnumclient==4.0.0
python-neutronclient==8.1.0
python-novaclient==18.1.0
python-openstackclient===6.0.1-1.1
pytz==2021.1
pyudev==0.22.0
PyYAML==5.4.1
pyzmq==27.1.0
referencing==0.36.2
requests==2.32.5
requests-gssapi==1.2.3
requests-kerberos==0.12.0
requests-oauthlib==2.0.0
requests-toolbelt==0.9.1
requestsexceptions==1.4.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
ROOT==6.38.4
rpds-py==0.27.1
rpkg==1.69
rpm==4.16.1.3
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.2.7
s3cmd==2.4.0
scikit-learn==1.6.1
scipy==1.9.3
SecretStorage==3.3.1
selinux==3.6
Send2Trash==2.1.0
sepolicy==3.6
setools==4.4.4
shtab==1.5.8
simplejson==3.17.6
six==1.15.0
smmap==5.0.0
sniffio==1.3.1
snowballstemmer==1.9.0
soupsieve==2.4.1
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.4.45
sqlparse==0.5.5
stack-data==0.5.0
starlette==0.49.3
stevedore==4.0.2
suds==1.1.2
sympy==1.14.0
systemd-python==234
tabulate==0.8.10
templated-dictionary==1.5
termcolor==1.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tldr==3.3.0
tomli==2.0.1
torch==2.8.0+cu128
torchvision==0.23.0+cu128
tornado==6.4.1
tqdm==4.68.3
traitlets==5.15.0
triton==3.4.0
typed-ast==1.5.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
uhal==2.8.22
uhal-gui==2.8.22
uproot==5.6.9
uri-template==1.3.0
urllib3==1.26.5
uvicorn==0.39.0
virtualenv==20.21.1
wcwidth==0.2.5
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.8
widgetsnbextension==4.0.15
wrapt==1.14.1
xlrd==2.0.1
xxhash==3.7.0
ydf==0.16.1
zipp==3.19.2
